version: '2.1'

volumes:
    adguardhome_work:
    adguardhome_conf:

services:

    # https://hub.docker.com/r/adguard/adguardhome
    adguard:
        image: adguard/adguardhome:v0.104.3
        network_mode: host
        privileged: true
        volumes:
            - 'adguardhome_work:/opt/adguardhome/work:rw'
            - 'adguardhome_conf:/opt/adguardhome/conf:rw'
        command: --host 0.0.0.0 --port 80 --no-check-update --config /opt/adguardhome/conf/AdGuardHome.yaml
