name: balena

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        fleet: [gh_klutchell/adguard-home]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: balena-io/deploy-to-balena-action@a18a601d3dca56e1a2d1b6e9d9786e83b8ff1c39 # v2.0.138
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          environment: balena-cloud.com
          fleet: ${{ matrix.fleet }}
          versionbot: false
          create_tag: true
